<!DOCTYPE html>
<html>
  <head>
    <title>Kaizen</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="icon" href="/favicon.ico">
  </head>
  <body>
    <nav class="navbar is-primary">
      <!--  Begin permanently fixed component like Keizen -->
      <div class=navbar-brand>
          <a class="navbar-item" href="../">
            </span>
            <img src="../images/bulma.png" alt="Kaizen">
            </span>
          </a>
      </div>
     <!-- Menu bar on top -->

        <div class="navbar-menu">
         <div class="navbar-start">
           <div class="tabs is-boxed">
             <ul class="tabsControl">
               <li class="is-active">
                 <a href="/">
                   <span class="icon is-small"><i class="fa fa-search"></i></span>
                   <span>Explore</span>
                 </a>
               </li>
               <li>
                 <a>
                   <span class="icon is-small"><i class="fa fa-book"></i></span>
                   <span>Notebooks</span>
                 </a>
               </li>
               <li>
                 <a  href="/flashcards" >
                   <span class="icon is-small"><i class="fa fa-bolt"></i></span>
                   <span>Revise</span>
                 </a>
               </li>
               <li>
                 <a href="/reminders">
                   <span class="icon is-small"><i class="fa fa-bell"></i></span>
                   <span>Reminders</span>
                 </a>
               </li>
             </ul>
           </div>
         </div>
         <div class="navbar-end">
             <div class="nav-item">
               {{#if user}}
                     <span class="nav-item">
                        <figure class="image is-16x16">
                          <img src="{{ user.picture }}" alt="Image">
                        </figure>
                        &nbsp;
                        {{ user.displayName }}
                     </span>

                      <span class="nav-item">
                        <a class="button is-small is-white is-outlined" href="/logout">
                          <span class="icon is-small is-left">
                            <i class="fa fa-sign-out"></i>
                          </span> <div>log out</div>
                        </a>
                      </span>
               {{else}}
                     <span class="nav-item">
                      <a class="button is-medium is-white is-outlined " href="/login">
                        <span class="icon is-small is-left">
                          <i class="fa fa-sign-in"></i>
                        </span> <div>log in</div>
                      </a>
                    </span>
              {{/if}}
              </div>
          </div>
        </div>
    </nav>

    <section class="section">
      <div class="content">
        {{{body}}}
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascripts/local.js"></script>
    {{#each scripts}}
      <script src="/javascripts/{{this}}"></script>
    {{/each}}

 </body>
</html>
