<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title class="">kaizen</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.5.3 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css" integrity="sha256-spCEAaZMKebC3rE/ZTt8jITn65b0Zan45WXblWjyDyQ=" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/hero.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
  <script async type="text/javascript" src="../js/bulma.js"></script>
  <script src="https://cdn.quilljs.com/1.3.3/quill.js"></script>
  <script src="https://cdn.quilljs.com/1.3.3/quill.min.js"></script>
  <link href="https://cdn.quilljs.com/1.3.3/quill.snow.css" rel="stylesheet">
  <link href="https://cdn.quilljs.com/1.3.3/quill.bubble.css" rel="stylesheet">
  <script> var notebooks = "{{notebooks}}"; </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
  <script src="/javascripts/home.js" charset="utf-8"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>
<body>
  <div class="columns">
    <aside class="column is-2 aside hero is-fullheight">
      <div>
        <div class="main">
          <nav class="panel">
          <p class="panel-heading">
            Notebooks
          </p>
          <div class="compose has-text-centered">
            <a id="addNotebook" class="button is-danger is-block is-bold">
              Add Notebook
            </a>
          </div>

          {{#each notebooks}}
            <a href="/home?notebook={{this.notebookname}}" class="panel-block is-active">
              <span class="panel-icon">
                <i class="fa fa-book"></i>
              </span>
              {{this.notebookname}}
            </a>
          {{/each}}
          <div class="panel-block">
            <button class="button is-link is-outlined is-fullwidth">
              feeling lucky
            </button>
          </div>
          </nav>
        </div>
      </div>
    </aside>
  <div class="column">



      <div class="box">
      <!-- Main container -->
        <nav class="level">
          <!-- Left side -->
          <div class="level-left">
            <div class="level-left">
                <a id="addNote" class="button is-primary"><i class="fa fa-plus"></i> Note</a><br/><br/>
            </div>
          </div>
          <div class="level-right">
            <div class="level-left">
                <a id="addFlashcard" class="button is-primary"><i class="fa fa-plus"></i> Flashcard</a><br/><br/>
            </div>
          </div>
        </nav>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box">
          {{#each notes}}
           <ul class="timeline">
             <li class="timeline-event">
               <label class="timeline-event-icon"></label>
               <div class="timeline-event-copy">
                 <div class="timeline-event-thumbnail">{{filterDate this.createdDate}}</div>
                 <h1>{{this.name}}</h1>
                 <p>{{substring this.text}}</p>
                 <nav class="level is-mobile">
                   <div class="level-left">
                     <a onClick="note({{{json this}}});" class="level-item">
                       <span class="icon is-small"><i class="fa fa-pencil fa-1.5x"></i></span>
                     </a>
                     <a onClick="deleteNote({{{json this.name}}});"class="level-item">
                       <span class="icon is-small"><i class="fa fa-trash fa-1.5x"></i></span>
                     </a>
                     <a class="level-item">
                       <span class="icon is-small"><i class="fa fa-heart fa-1.5x"></i></span>
                     </a>
                   </div>
                 </nav>
               </div>
             </li>
           </ul>
          {{/each}}
        </div>
        </div>

        <div class="column">
          <div class="box">
             {{#each flashcards}}
             <article class="media">
               <div class="media-left">
                 <figure class="image is-64x64">
                   <img src="../images/flash.png" alt="Image">
                 </figure>
               </div>
               <div class="media-content">
                 <div class="content">
                   <h1>{{this.front}}</h1>
                   <p>{{ this.back }}</p>
                 </div>
                 <nav class="level is-mobile">
                   <div class="level-left">
                     <a onClick="editFlashCard({{{json this}}});" class="level-item">
                       <span class="icon is-small"><i class="fa fa-pencil"></i></span>
                     </a>
                     <a onClick="deleteFlashCard({{{json this}}});" class="level-item">
                       <span class="icon is-small"><i class="fa fa-trash"></i></span>
                     </a>
                     <a class="level-item">
                       <span class="icon is-small"><i class="fa fa-heart"></i></span>
                     </a>
                   </div>
                 </nav>
               </div>
             </article>
             {{/each}}
        </div>
        </div>
      </div>
    </div>
  </div>

  <!--This is Modal part -->
  <div id="model" class="modal n_notemodel">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">New Note</p>
        <button class="modal-close" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Name</label>
          <div class="control has-icons-right">
            <input class="input is-success" id="n_noteName" type="text">
            <span class="icon is-small is-right">
              <i class="fa fa-check"></i>
            </span>
          </div>
        </div>
        <div id="n_editor">
          <p>Hi there !</p>
          <p>This is where <strong>your ideas</strong> come Alive</p>
          <p><br></p>
        </div>
       </section>
      <footer class="modal-card-foot">
        <button id="saveNote" class="button is-success">Save changes</button>
        <button class="button cancelModel">Cancel</button>
        <div class="control">
          <label class="radio">
            <input type="radio" name="answer">
            Private
          </label>
          <label class="radio">
            <input type="radio" name="answer">
            Public
          </label>
        </div>
      </footer>
    </div>
  </div>


  <!-- New Flashcard -->
  <div id="model" class="modal n_flashmodel">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">New FlashCard</p>
        <button class="modal-close" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Front</label>
          <div class="control has-icons-right">
            <input class="input is-success" id="n_flashFront" type="text">
            <span class="icon is-small is-right">
              <i class="fa fa-check"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label">Back</label>
          <div class="control">
            <textarea id="n_flashBack" class="textarea" placeholder="Write the meaning of your flashcard"></textarea>
          </div>
        </div>
       </section>
      <footer class="modal-card-foot">
        <button id="saveFlashCard" class="button is-success">Save changes</button>
        <button class="button cancelModel">Cancel</button>
      </footer>
    </div>
  </div>

  <!--Edit A FlashCard -->
  <div id="model" class="modal e_flashmodel">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Edit FlashCard</p>
        <button class="modal-close" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Front</label>
          <div class="control has-icons-right">
            <input class="input is-success" id="e_flashFront" type="text" disabled>
            <span class="icon is-small is-right">
              <i class="fa fa-check"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label">Back</label>
          <div class="control">
            <textarea id="e_flashBack" class="textarea" placeholder="Write the meaning of your flashcard"></textarea>
          </div>
        </div>
       </section>
      <footer class="modal-card-foot">
        <button id="eFlashCard" class="button is-success">Save changes</button>
        <button class="button cancelModel">Cancel</button>
      </footer>
    </div>
  </div>
  <div id="model"class="modal notemodel">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Edit Note</p>
        <button class="modal-close" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Name</label>
          <div class="control has-icons-right">
            <input class="input is-success" id="noteName" type="text" disabled>
            <span class="icon is-small is-right">
              <i class="fa fa-check"></i>
            </span>
          </div>
        </div>
        <div id="editor">
          <p>Hi there !</p>
          <p>This is where <strong>your ideas</strong> come Alive</p>
          <p><br></p>
        </div>
       </section>
      <footer class="modal-card-foot">
        <button id="editNote" class="button is-success">Save changes</button>
        <button class="button cancelModel">Cancel</button>
        <div class="control">
          <label class="radio">
            <input type="radio" name="answer">
            Private
          </label>
          <label class="radio">
            <input type="radio" name="answer">
            Public
          </label>
        </div>
      </footer>
    </div>
  </div>
  <div id="modal" class="modal notebookmodel">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add Notebook</p>
      <button class="modal-close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="label">Notebook Name</label>
        <div class="control has-icons-right">
          <input class="input is-success" id="notebookname" type="text">
          <span class="icon is-small is-right">
            <i class="fa fa-check"></i>
          </span>
        </div>
        <p class="help is-success">This notebooks is not yet created</p>
      </div>
      <!-- </div>
      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea id="description" class="textarea" placeholder="A small description for the notebook"></textarea>
        </div>
      </div> -->
      <div class="field">
        <label class="label">Access</label>
        <div class="control">
          <div class="select">
            <select id="access">
              <option>Private</option>
              <option>Public</option>
            </select>
          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button id="saveNoteBook" class="button is-success">Save changes</button>
      <button class="button cancelModel">Cancel</button>
    </footer>
  </div>
</div>
<!-- Including the Quill library -->
<script src="https://cdn.quilljs.com/1.3.3/quill.js"></script>
</body>
</html>
