<div class="box">
<script>console.log(notes)</script>
{{#each notes}}
 <ul class="timeline">
   <li class="timeline-event">
     <label class="timeline-event-icon"></label>
     <div class="timeline-event-copy">
       <div class="timeline-event-thumbnail">{{filterDate this.createdDate}}</div>
       <h1>{{this.name}}</h1>
       <p>{{ this.notebooks.notebookname}}</p>
       {{#each this.notebooks.notes}}
          <p>{{ this}}</p>
       {{/each}}

       <!-- <nav class="level is-mobile">
         <div class="level-left">
           <a onClick="note({{{json this}}});" class="level-item">
             <span class="icon is-small"><i class="fa fa-pencil fa-1.5x"></i></span>
           </a>
           <a onClick="deleteNote({{{json this.name}}});"class="level-item">
             <span class="icon is-small"><i class="fa fa-trash fa-1.5x"></i></span>
           </a>
           <a class="level-item">
             <span class="icon is-small"><i class="fa fa-heart fa-1.5x"></i></span>
           </a>
         </div>
       </nav> -->
     </div>
   </li>
 </ul>
{{/each}}
</div>
